.checkbox-container {
    display: flex;
    flex-direction: column;
    place-content: center center;
    padding: 15px 5px;
    padding-top: 10px;
    border: 2px solid green;
    border-radius: 10px;
    min-width: 100px;
    gap: 10px;
}

.checkbox-container header {
    text-align: center;
}

input[type='checkbox'] {
    transform: scale(2);
}