<div class="header">
  <header>Dynamic Box</header>
</div>
<div class="container">
  <div class="title">
    App Component
  </div>
  <app-box 
    *ngFor="let box of data; index as i; first as isFirst"
    [data]="data[i]" 
    (dataChange)="onChange($event)" 
    (toggleAll)="toggleAll()"
  ></app-box>
</div>
<div class="result">
  <label for="result">Result : </label>
  <input type="text" [(ngModel)]="result" (input)="remoteUpdateBox()" id="result">
</div>
<div class="error" *ngIf="errorMsg.length !== 0">
  {{errorMsg}}
</div>
<div class="provider">
  <label for="property">Property : </label>
  <input (input)="setProperty()" type="text" [(ngModel)]="property">
</div>